/* ························································中间样式························································ */
.middle-1{
	width: 100%;
	position: relative;
	top: -60px;
}
.crumb{
	width: 1200px;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
}
.crumb p{
	font-size: 15px;
	display: inline-block;
	float: left;
	margin: 10px 0;
}
.crumb a{
	color: #ff8a20;
}
.crumb span{
	color: #313131;
	font-size: 16px;
	margin: 0 10px;
}
.Content {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.top_nav {
	width: 100%;
	height: 40px;
	background: #323232;
	overflow: hidden;
}

.top_nav a {
	width: 87px;
	display: block;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	color: #c9c9c9;
	float: left;
}

.top_nav .as {
	background: #f0412a !important;
	color: #fff;
}

.top_nav a:hover {
	background: #1d1c1c;
	text-decoration: none;
	color: #FFF;
}

.news_list .list {
	overflow: hidden;
}

.news_list .list li a {
	height: 245px;
	background: #FFF;
	display: block;
	padding: 25px 0 0 0;
	border-bottom: 1px dashed #e5e5e5
}

.news_list .list li a .imgst {
	position: relative;
	float: left;
	width: 388px;
	height: 218px;
	min-height: 118px;
	overflow: hidden;
}

.news_list .list li a .imgst i {
	display: block;

	position: absolute;

	width: 51px;

	height: 51px;

	left: 73px;

	top: 35px;

}

.news_list .list li a img {
	width: 388px;
	height: 218px;
}

.news_list .list li a .bt {
	font-weight: bold;
	width: 720px;
	color: #313131;
	float: left;
	font-size: 18px;
	height: 22px;
	overflow: hidden;
	line-height: 22px;
	margin-left: 23px;
	margin-top: -2px;
	text-align: left;
}

.news_list .list li a p {

	width: 760px;

	margin-left: 20px;
	text-align: justify;
	text-indent: 30px;

	color: #969696;

	float: left;

	font-size: 15px;

	height: 162px;

	line-height: 20px;

	overflow: hidden;

	margin: 10px 0 0 25px;
}

.news_list .list li a .item {
	width: 780px;
	margin-left: 8px;
	float: left;
	font-size: 14px;
	margin-top: 10px;
	color: #b0b0b0;
	text-align: left;
}

.news_list .list li a .item .time {
	width: 128px;
}

.news_list .list li a .item .time i {
	height: 12px;
	width: 12px;
	background-position: -127px -4px;
	display: inline-block;
	margin-right: 4px;
}

.news_list .list li a .item .it {
	padding-left: 150px;
}

.news_list .list li a .item .it i {
	height: 13px;
	width: 14px;
	display: inline-block;
	margin-right: 4px;
}

.news_list .list li a .item .it i.in {
	background-position: -111px -3px;
}

.news_list .list li a .item .it i.eye {
	background-position: -110px -136px;
	width: 16px;
}

.news_list .list li a:hover .bt {
	color: #f0412a;
}

.news_list .list li a:hover .it {
	color: #f0412a;
}

.news_list .list li a:hover {
	cursor: pointer;
	text-decoration: none;
}

.news_list .list li a:hover .it i.in {
	background-position: -111px -20px
}

.news_list .list li a:hover .it i.eye {
	background-position: -110px -151px
}

.news_list p {
	font-size: 13px;
	color: #626262;
}

.news_list p span {
	color: #F0412A;
}

.news_list p i {
	color: #F0412A;
}

.pagewrap {
	width: 100%;
	height: 34px;
	padding: 25px 0;
	margin-top: 10px;
	line-height: 34px;
	text-align: center;
	color: #666;
	overflow: hidden;
}

.pagewrap a,
.pagewrap span {
	display: inline-block;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	padding: 0 12px;
	margin: 0 5px;
	font-size: 14px;
	color: #666;
}

.pagewrap a.current,

.pagewrap .active a,

.pagewrap a:hover {
	color: #ff8a20;
	border: 1px solid #ff8a20;
}

.pagewrap li {
	display: inline-block;
	_zoom: 1;
	display: inline;
}

.pagewrap .page .prev,
.pagewrap .page .netx {
	width: 38px;
}

.pagewrap .page {
	margin: 0 auto;
	display: block;
}

.pagewrap li.active a {
	color: #ff8a20;
	border: 1px solid #ff8a20;
}
/* ························································底部样式························································ */
.footer-bottom {
    background-color: rgb(63, 63, 63);
    width: 100%;
    height: 130px;
    position: relative;
    top: -50px;
}

.footer-bottom .footer-bottom-mid {
    width: 1200px;
    height: 130px;
    margin: auto auto;
    overflow: hidden;
    box-sizing: border-box;
}
.footer-bottom .footer-bottom-mid p {
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    color: #9c9c9c;
}
.footer-bottom .footer-bottom-mid p a{
    text-decoration: none;
    margin-right: 8px;
    margin-left: 8px;
    color: #9c9c9c;
}

.footer-bottom .footer-bottom-mid p a:hover {
    color: #fff;
}