html {
    scroll-behavior: smooth;
}

/* ························································页眉样式························································ */
.header {
    width: 100%;
    height: 382px;
    position: relative;
}

/* ····································全屏广告样式 */
.all-ad {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: -10;
}

.all-ad img {
    width: 20%;
    height: 100%;
    -webkit-box-reflect: right 1150px;
}

/* ·······························侧边固定部分样式 */
.fixed-slide {
    width: 50px;
    height: 280px;
    position: fixed;
    top: 450px;
    right: 0;
    z-index: 100;
    border-radius: 12px;
    float: right;
    background-color: #5f7cfa;
}

.fixed-slide li {
    width: 50px;
    height: 30px;
    margin-top: 20px;
}

.fixed-slide li .iconfont {
    padding-left: 8px;
    font-size: 35px;
    color: #55dcee;
}

.fixed-slide li a:hover {
    color: #4ad17e;
}

/* ~~~~~~~~~~~~~~~~~~~~~页眉样式：快捷导航栏~~~~~~~~~~~~~~~~~~~~~ */
.header .h-nav {
    width: 1100px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    position: relative;
    top: 0;
    z-index: 10;
}

.header .h-nav .h-nav-p p {
    width: 100px;
    text-align: center;
    color: #ffffff;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
}

.header .h-nav .h-nav-a {
    position: absolute;
    top: 0;
    left: 100px;
}

.header .h-nav .h-nav-a li {
    display: inline-block;
    width: 70px;
    margin-top: 13px;
    margin-right: 10px;
    line-height: 35px;
    font-size: 18px;
    border-right: 2px solid #ffffff;
}

/* 把最右边的边框去掉 */
.header .h-nav .h-nav-a li:last-child {
    border-right: 0;
}

.header .h-nav li a {
    color: #ffffff;
}

.header .h-nav li:hover a {
    color: #EB4E18;
}

/* 页眉样式：登录功能 */
.header .h-nav .h-login {
    position: absolute;
    top: 0;
    right: 230px;
}

.header .h-nav .h-login li {
    display: inline-block;
    padding: 0 6px;
}

.header .h-nav .h-login li a {
    width: 100px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #fdfdfd;
}

.header .h-nav .h-login:hover a {
    color: #00fd4c;
    font-size: 19px;
}

/* ·····································页眉样式：公告框 */
.header .h-slide {
    width: 45px;
    height: 382px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header .h-slide .h-slide-a {
    display: block;
    width: 45px;
    height: 345px;
    font-size: 23px;
    padding-top: 37px;
    line-height: 40px;
    text-align: center;
    color: #45e9e1;
    background: #0a334bad;
    overflow: hidden;
    font-family: "华文行楷";
}

.header .h-slide .h-slide-a:hover {
    color: #EB4E18;
    font-size: 27px;
}

.header .h-slide .h-text {
    width: 1215px;
    height: 322px;
    background-color: #ffffffd3;
    position: absolute;
    top: 0;
    left: 45px;
    z-index: 100;
    /* 默认不显示 */
    display: none;
}

.header .h-slide li:hover .h-text {
    display: block;
}

.header .h-slide .h-text li {
    text-align: left;
    margin: 5.5px 15px;
    font-size: 16px;
    line-height: 26px;
    /* 限制不换行 */
    white-space: nowrap;
    overflow: hidden;
    /* 溢出内容显示为省略号 */
    text-overflow: ellipsis;
}

.header .h-slide .h-text li a {
    color: #000000;
}

.header .h-slide .h-text li a:hover {
    color: #EB4E18;
}

/* ············································页眉样式：广告图片 */
.header .h-ad img {
    width: 100%;
    height: 382px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* ············································页眉样式：搜索框 */
.header .search {
    width: 1200px;
    height: 130px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 50px;
    z-index: 10;
}

.h-vrap {
    width: 600px;
    height: 3px;
    padding: 33px;
    /* 搜索框内底色 */
    background-color: #c5c1c1dc;
    border-radius: 20px;
    position: absolute;
    top: 60px;
    left: 260px;
    z-index: 10;
}

.h-vrap input {
    /* 搜索框宽高 */
    width: 490px;
    height: 45px;
    /* 搜索框字体样式 ,分别为粗细度、字体大小、字体类型*/
    font: 350 23px '优设标题黑';
    /* 搜索框输入字体的颜色 */
    color: #000000;
    border: 1px;
    padding-left: 10px;
    background-color: #f1f1f1ea;
    border-radius: 10px;
    float: left;
    margin-top: 30px;
    position: absolute;
    top: -18px;
    left: 10px;
}

.h-vrap input::placeholder {
    color: #000000;
}

.h-vrap a {
    display: flex;
    font-size: 60px;
    position: absolute;
    right: -12px;
    top: -8px;
    /* 引入的图标颜色 */
    color: #00b7ff;
    width: 220px;
}

.h-vrap a .fa {
    margin: 10px 28px;
    transition: .3s;
}

.h-vrap a .fa-search {
    transform: translateX(-80px);
    opacity: 1;
}

.h-vrap a .fa-hand-o-right {
    transform: translateX(-100px);
    opacity: 0;
}

.h-vrap a:hover .fa-search {
    transform: translateX(0);
    opacity: 0;
}

.h-vrap a:hover .fa-hand-o-right {
    transform: translateX(110px);
    opacity: 1;
}

.h-vrap a::before {
    content: '去吧皮卡丘!';
    font-family: "华文行楷";
    position: absolute;
    z-index: 10;
    display: block;
    font-size: 40px;
    color: #f3e072;
    padding: 80px 50px;
    right: -100px;
    /* 圆角 */
    border-radius: 10px;
    transition: .3s;
    opacity: 0;
    animation: box0 1s infinite ease;
}

.h-vrap a:hover::before {
    top: -127px;
    opacity: 1;
}

@keyframes box0 {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(5deg);
    }

    66% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ·······························页眉样式:数字时钟和logo图片*/
.header-R {
    width: 300px;
    height: 262px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.header-R #clock {
    width: 370px;
    height: 100px;
    font-family: "方正粗黑宋简体", monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 150px;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 5px 5px #002fff, 0 0 20px rgba(10, 175, 230, 0.219);
}

#clock .time {
    letter-spacing: 0.05em;
    font-size: 50px;
    padding: 5px 0;
}

#clock .date {
    letter-spacing: 0.1em;
    font-size: 24px;
}

#clock .text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}

.header-R .h-logo {
    width: 300px;
    height: 200px;
    margin-top: 110px;
}

.header-R .h-logo img {
    width: 100%;
}

/* ···························导航栏样式 */
.header .black-nav {
    width: 100%;
    height: 130px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    z-index: 100;
}

/* 使黑色导航区域文字居中 */
.black-nav .wrap {
    width: 1200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}

/* 使黑色导航区域文字居左 */
.black-nav .wrap .black-nav-left-right {
    position: relative;
}

/* 设置a标签字体颜色 */
.black-nav a {
    color: #e0dcdc;
}

/* li标签样式 */
.black-nav .wrap .black-nav-left-right li {
    /* 使弹出框能在对应位置显示 */
    position: relative;
}

.black-nav .wrap .black-nav-left-right li {
    float: right;
    margin: 10px 0px;
}

/* 弹出框样式 */
.game {
    /* 弹出框的尺寸和背景颜色 */
    width: 100%;
    height: 0px;
    background: #0a334bad;
    /* 在弹出框中字体左对齐 */
    text-align: center;
    line-height: 70px;
    /* 使弹出框能在对应位置显示，对应上面第38行的格式 */
    position: absolute;
    top: 60px;
    overflow: hidden;
    /* 设置优先级，使弹出框可以在盒子模型最外层显示 */
    z-index: 10;
}

.black-nav .wrap .black-nav-left-right li .game p {
    /* 设置弹出框里的字体大小 */
    font-size: 20px;
    /* 设置弹出框里的字体的外边框大小（在元素中撑开部分距离） */
    margin: 0 18px;
}

/* 对li标签进行鼠标点击弹出弹出框操作 */
.black-nav-left-right li:hover>.game {
    /* 弹出框大小 */
    height: 70px;
}

.cart {
    width: 150px;
    height: 60px;
    /* 增加底纹颜色 */
    background-color: #0a334bad;
    /* 外边框设置（显示位置调整） */
    margin-left: -20px;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    top: -10px;
    z-index: 10;
}

/* 鼠标移到购物车图标颜色改变 */
.cart:hover>a {
    color: rgba(102, 211, 107, 0.726);
}

/* ·····························横幅 */
.b1 {
    width: 100%;
    height: 70px;
    background-color: #0a334b;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    top: -20px;
}

.b1-p1 {
    width: 1200px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    position: relative;
    left: -60px;
}

.b1-p1 p {
    overflow: hidden;
    width: 500px;
    margin-top: 15px;
    font-family: "华文琥珀";
    background-image: linear-gradient(90deg, rgb(248, 86, 37) 0%, rgb(255, 171, 61) 12%, rgb(86, 250, 80) 30%, rgb(83, 184, 252) 50%);
    /* 让背景颜色按文本区域显示，-webkit-为内核前缀，兼容IE浏览器  */
    -webkit-background-clip: text;
    color: transparent;
    display: inline-flex;
    vertical-align: top;
    animation: shine 10s infinite linear;
}

@-moz-keyframes shine {
    0% {
        background-position: 0;
    }

    20% {
        background-position: 100px;
    }

    40% {
        background-position: 200px;
    }

    60% {
        background-position: 300px;
    }

    80% {
        background-position: 400px;
    }

    100% {
        background-position: 500px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }

    20% {
        background-position: 100px;
    }

    40% {
        background-position: 200px;
    }

    60% {
        background-position: 300px;
    }

    80% {
        background-position: 400px;
    }

    100% {
        background-position: 500px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }

    20% {
        background-position: 100px;
    }

    40% {
        background-position: 200px;
    }

    60% {
        background-position: 300px;
    }

    80% {
        background-position: 400px;
    }

    100% {
        background-position: 500px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    20% {
        background-position: 100px;
    }

    40% {
        background-position: 200px;
    }

    60% {
        background-position: 300px;
    }

    80% {
        background-position: 400px;
    }

    100% {
        background-position: 500px;
    }
}

.b1-p1 p .word {
    position: absolute;
    top: 15px;
    left: 500px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
}

.b1-p1 p .word .letter {
    transform-origin: center center 25px;
}

.b1-p1 p .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(1.6, 0, 0.7, 0.2);
}

.b1-p1 p .word .letter.in {
    transition: 0.28s ease;
}

.b1-p1 p .word .letter.behind {
    transform: rotateX(-90deg);
}

.alizarin {
    color: #fa825e;

}

.wisteria {
    background-image: linear-gradient(90deg, rgb(97, 248, 37) 0%, rgb(61, 255, 174) 33%, rgb(222, 80, 250) 66%, rgb(252, 83, 153) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/* ·······························································banner滑动门样式······························································ */
.banner {
    width: 1200px;
    height: 650px;
    margin: 0 auto;
    overflow: hidden;
    /* 使侧边栏可以相对图片移动 */
    position: relative;
    top: 0;
}

.img-warp {
    /* 四张图片 */
    width: calc(1200px*4);
    /* 定义动画 */
    animation: my 40s linear 0s infinite;
}

.img-warp img {
    float: left;
    width: 1200px;
    height: 650px;
}

@keyframes my {
    0% {
        transform: translateX(0);
    }

    0.5% {
        transform: translateX(-1200px);
    }

    25% {
        transform: translateX(-1200px);
    }

    25.5% {
        transform: translateX(-2400px);
    }

    40% {
        transform: translateX(-2400px);
    }

    40.5% {
        transform: translateX(-3600px);
    }

    55% {
        transform: translateX(-3600px);
    }

    55.5% {
        transform: translateX(-2400px);
    }

    70% {
        transform: translateX(-2400px);
    }

    70.5% {
        transform: translateX(-1200px);
    }

    85% {
        transform: translateX(-1200px);
    }

    85.5% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.slide {
    width: 234px;
    height: 650px;
    background-color: rgba(105, 101, 101, 0.6);
    position: absolute;
    left: 0px;
    top: 0px;
}

.slide>ul>li {
    height: 43px;
    line-height: 43px;
    margin-top: 6px;
    text-align: left;
    padding-left: 30px;
    font-size: 17px;
}

.slide>ul>li>a {
    color: #45e9e1;
}

.slide i {
    float: right;
    font-style: normal;
    padding-right: 20px;
}

.slide>ul>li:hover {
    background-color: #1b9ccf;
    font-size: 19px;
}

.slide-list {
    width: 966px;
    height: 650px;
    background-color: #ffffff81;
    border: 2px solid #95c3d8;
    overflow: hidden;
    /* 去掉左边的边框 */
    border-left: none;
    /* 防止边框撑大盒子 */
    box-sizing: border-box;
    box-shadow: 0 16px 16px rgba(64, 116, 126, 0.18);
    position: absolute;
    bottom: 0px;
    left: 234px;
    /* 默认不显示 */
    display: none;
}

.slide-list ul {
    width: 966px;
    height: 650px;
}

.slide-list ul li {
    width: 278px;
    height: 50px;
    float: left;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #f7cd8d69;
    margin: 15px 22px;
    /* 限制不换行 */
    white-space: nowrap;
    overflow: hidden;
    /* 溢出内容显示为省略号 */
    text-overflow: ellipsis;
}

.slide-list a {
    font-size: 19px;
    margin-left: 20px;
    line-height: 50px;
    border-radius: 30px;
    font-family: "楷体";
    color: #000000;
}

.slide li:hover .slide-list {
    display: block;
}

.slide-list li:hover a {
    color: rgb(21, 140, 209);
    font-size: 21px;
    font-weight: 600;
}

/* ····································································VIM精选···································································· */
.middle {
    width: 1200px;
    height: 780px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0px;
    background-color: rgb(255, 255, 255);
}

.middle-nav {
    width: 1200px;
    height: 790px;
    /* 垂直变水平（弹性盒子模型） */
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

.titlemid-bt {
    width: 900px;
    height: 160px;
    position: absolute;
}

/* 标题 */
.mid-bt {
    font-family: "华文琥珀";
    color: #252525;
    font-size: 32px;
    line-height: 80px;
    margin-left: 15px;
    float: left;
}

/* ·········································VIM精选导航栏 */
.mid-title {
    width: 790px;
    height: 60px;
    background-color: rgba(68, 1, 1, 0.877);
    line-height: 60px;
    position: absolute;
    top: 70px;
    margin-left: 10px;
}

.mid-title li {
    float: left;
    width: 158px;
    border-right: 2px solid #b0b0b0;
    box-sizing: border-box;
    font-size: 18px;
}

/* 把最右边的边框去掉 */
.mid-title li:last-child {
    border-right: 0;
}

.mid-title a {
    color: rgb(236, 183, 112);
}

.mid-title a:hover {
    color: aquamarine;
}

/* ·········································右边区域 */
.titlemid-bt-right {
    width: 380px;
    height: 520px;
    /* 背景渐变色 */
    background: linear-gradient(#fa8c6bce, #1dbea9c7);
    border-radius: 0 0 13px 13px;
    position: absolute;
    left: 810px;
    top: 0px;
}

.titlemid-bt-right h2 {
    margin: 7px auto;
}

.titlemid-bt-right img {
    width: 360px;
    height: 180px;
    margin: 6px auto;
    border-radius: 15px;
}

.titlemid-bt-right p {
    font-size: 21px;
    line-height: 30px;
    font-family: "华文行楷";
}

/* ·········································下边区域 */
.titlemid-bt-down {
    width: 800px;
    height: 370px;
    /* 背景渐变色 */
    background: linear-gradient(#6bfaee, #1d90be);
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 150px;
}

.titlemid-bt-down img {
    width: 210px;
    height: 350px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 20px;
}

.titlemid-bt-down .titlemid-bt-down-p {
    width: 570px;
    height: 370px;
    float: right;
    text-align: left;
    /* 背景渐变色 */
    background: linear-gradient(#6bfaee, #1d90be);
    border-radius: 25px;
}

.titlemid-bt-down .titlemid-bt-down-p h3 {
    margin-left: 10px;
    margin-top: 10px;
    line-height: 25px;
    font-size: 20px;
    border-bottom: 2px solid black;
}

.titlemid-bt-down .titlemid-bt-down-p p {
    line-height: 24px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 8px;
    /* 限制不换行 */
    white-space: nowrap;
    overflow: hidden;
    /* 溢出内容显示为省略号 */
    text-overflow: ellipsis;
}

/* ·········································底层区域 */
.mid-card {
    width: 100%;
    height: 300px;
    position: relative;
    left: 0px;
    top: 540px;
    margin-right: 300px;
    /* 在区域中可完整渲染整张图片 */
    flex-direction: column;
}

.mid-card>div {
    width: 275px;
    height: 200px;
    background: linear-gradient(#f8af6ac7, #83fdd8a6);
    border-radius: 20px;
    float: left;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    left: 10px;
}

/* 取消最后一个图片的边距 */
.mid-card>div:last-child {
    margin-right: 0;
}

.mid-img img {
    width: 275px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
}

.mid-card .mid-img:hover img {
    transform: scale(1.01);
}

.mid-text {
    font-size: 16px;
    color: aquamarine;
}

.mid-text a {
    color: rgb(253, 0, 148);
}

/* ························································页脚样式1：VIM论坛························································ */
.middle-a {
    width: 1200px;
    height: 760px;
    margin: 0 auto;
    position: relative;
    top: 0px;
    background-color: rgb(255, 255, 255);
}

.middle-a1 {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.titlebt {
    width: 100%;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}

.titlebt .bt {
    font-family: "华文琥珀";
    color: #252525;
    font-size: 32px;
    margin-left: 15px;
    float: left;
}

.titlebt .switch_a {
    float: right;
    margin-right: 12px;
}

.titlebt .switch_a a {
    float: left;
    padding: 0 10px;
    margin: 0 5px;
    font-size: 18px;
    color: #252525;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.titlebt .switch_a a:hover {
    color: #EB4E18;
}

/* ········································图片部分 */
.middle-a1 .list {
    width: 1180px;
    height: 500px;
    margin: 0 auto;
}

.middle-a1 .list ul .li1 {
    width: 282.5px;
    height: 160px;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    left: 5px;
}

.middle-a1 .list ul .li1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.middle-a1 .list ul .li1:hover img {
    transform: scale(1.04);
    border-radius: 10px;
}

.middle-a1 .list ul .li1 p {
    width: 282.5px;
    position: absolute;
    bottom: 0;
    left: 5px;
    height: 38px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
}

.middle-a1 .list ul .li2 {
    width: 376.6px;
    height: 210px;
    padding-left: 10px;
    margin-top: 25px;
    display: inline-block;
    border-radius: 10px;
    position: relative;

}

.middle-a1 .list ul .li2 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.middle-a1 .list ul .li2:hover img {
    transform: scale(1.03);
    border-radius: 10px;
}

.middle-a1 .list ul .li2 p {
    width: 376.6px;
    position: absolute;
    bottom: 0;
    left: 10px;
    line-height: 54px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-radius: 15px;
}

.middle-ad {
    width: 1180px;
    height: 240px;
    margin: 0 auto;
    overflow: hidden;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    position: relative;
}

.middle-ad img {
    width: 1180px;
    height: 220px;
    margin-top: 10px;
}

.middle-ad a {
    padding: 0 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: -10px;
    border-radius: 0 25px 0 25px;
    background-color: #f7f7f76c;
}

/* ························································页脚样式2：模型发布························································ */
.model {
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0px;
    background-color: #ffffff;
}

.Indexbox3-3 {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}

.Indexbox3-3 .title_ {
    line-height: 80px;
}

.title_ .bt {
    font-family: "华文琥珀";
    color: #252525;
    font-size: 32px;
    margin-left: 15px;
    float: left;
}

.title_ a {
    color: #585454;
    font-size: 25px;
    margin-right: 15px;
    float: right;
}

.title_ a:hover {
    color: #EB4E18;
}

.Indexbox3-3 .list {
    overflow: hidden;
    margin-left: 30px;
    width: 100%;
}

.Indexbox3-3 .list ul {
    width: 105%;
}

.Indexbox3-3 .list ul li {
    float: left;
    width: 170px;
    margin: 0 30px 0 0;
}

.Indexbox3-3 .list ul li:hover .name {
    color: #EB4E18;
}

.Indexbox3-3 .list ul li img {
    width: 150px;
    height: 230px;
    margin-left: 5px;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0.6);
    margin-bottom: 10px;
}

.tab-img {
    position: relative;
}

.Indexbox3-3 .list ul li .img .tab {
    display: block;
    font-size: 15px;
    font-family: "宋体";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: rgba(255, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px 0 8px 0;
    z-index: 1;
}

.Indexbox3-3 .list ul li .img:hover img {
    transform: scale(1.01);
}

.Indexbox3-3 .list ul li .name {
    height: 30px;
    width: 100%;
    font-family: "华文行楷";
    line-height: 30px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #252525;
}

.Indexbox3-3 .list ul li .lab {
    height: 20px;
    line-height: 20px;
    width: 90%;
    overflow: hidden;
    color: #404040;
}

.Indexbox3-3 .list ul li .lab .time {
    float: left;
    margin-left: 10px;
    display: block;
}

.Indexbox3-3 .list ul li .lab .bq {
    float: right;
    padding: 0 5px;
    margin-left: 3px;
    height: 20px;
    background: #acacac;
    background: rgba(143, 142, 147, 0.2);
    border-radius: 4px;
}

/* ················································································综合内容样式················································································ */
.footerb {
    width: 1200px;
    height: 955px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 0px;
    background-color: #ffffff;
}

.footerb .footer-box {
    width: 1200px;
    height: 440px;
    margin: 0 auto;
    margin-top: -20px;
    position: relative;
}

.footerb .footer-box .footer-box-title1 {
    font-family: "华文琥珀";
    color: #252525;
    font-size: 32px;
    line-height: 80px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
}

.footerb .footer-box .footer-box1 {
    width: 350px;
    height: 330px;
    position: absolute;
    top: 100px;
    left: 0;
    display: inline-block;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #0363f4, #146abb);
    overflow: hidden;
}

.footerb .footer-box .footer-box1 .footer-box1-down {
    width: 350px;
    height: 340px;
    margin: 0 auto;
    overflow: hidden;
}

.footerb .footer-box .footer-box1 .footer-box1-down p {
    width: 350px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.footerb .footer-box .footer-box1 .footer-box1-down li {
    padding: 10px 13px;
    margin-top: 8px;
    display: inline-block;
}

.footerb .footer-box .footer-box1 .footer-box1-down li a {
    font-size: 21px;
    line-height: 60px;
    padding: 15px 30px;
    border-radius: 30px;
    color: #000000d8;
    font-family: "方正粗黑宋简体";
    /* 相对定位 */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    z-index: 1;
}


/* 下面设计 发光效果 */
.footerb .footer-box .footer-box1 .footer-box1-down li a::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 50px;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 元素的位置 底层或者顶层  -值表示底层 + 值表示顶层 */
    z-index: -1;
    /* 设置模糊度 显示发光效果 */
    filter: blur(20px);
}

.footerb .footer-box .footer-box1 .footer-box1-down li a:hover {
    /* 动画 名称 时间 infinite 是无限次播放 */
    animation: sun 8s infinite;
}

.footerb .footer-box .footer-box1 .footer-box1-down li a:hover::before {
    animation: sun 8s infinite;
}

@keyframes sun {
    100% {
        /* 背景位置 */
        background-position: -400% 0;
    }
}

.footerb .footer-box .footer-box2 {
    width: 592px;
    height: 326px;
    margin-top: 60px;
    margin-left: 2px;
    position: absolute;
    top: 40px;
    left: 350px;
    overflow: hidden;
    background-color: #50f8e2de;
    border: 2px solid #50f8e2de;
}

.footerb .footer-box .footer-box2 .footer-box2-mid {
    width: 600px;
    height: 40px;
    background-color: #50f8e2de;
}

.footerb .footer-box .footer-box2 .footer-box2-mid li {
    display: inline-block;
    font-size: 19px;
    padding: 0 19px;
    line-height: 40px;
    border-right: 2px solid white;
}

.footerb .footer-box .footer-box2 .footer-box2-mid li a {
    color: #363535;
    font-weight: 500;
}

.footerb .footer-box .footer-box2 .footer-box2-mid li a:hover {
    color: #f75555;
}

.footer-box2-mid-video {
    overflow: hidden;
    margin-top: -20px;
}

.footer-box2-mid-list {
    width: 592px;
    height: 288px;
    background-color: #2ffde2bb;
    overflow: hidden;
    /* 防止边框撑大盒子 */
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 100;
    /* 默认不显示 */
    display: none;
}

.footer-box2-mid-list li {
    width: 67.5px;
    height: 130px;
    margin-left: 5px;
    margin-top: 4.5px;
}
.footer-box2-mid-list a {
    font-size: 16px;
    margin-left: 20px;
    line-height: 20px;
    font-family: "楷体";
    color: #000000;
}

.footer-box2-mid-list img {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    margin-left: -18px;
    margin-top: 10px;
}

.footer-box2-mid-list p {
    width: 67.5px;
    height: 25px;
    line-height: 20px;
    margin-top: -5px;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
    /* 限制不换行 */
    white-space: nowrap;
    overflow: hidden;
    /* 溢出内容显示为省略号 */
    text-overflow: ellipsis;
}

.footer-box2-mid li:hover .footer-box2-mid-list {
    display: block;
}

.footerb .footer-box .footer-box3 {
    width: 250px;
    height: 330px;
    position: absolute;
    top: 100px;
    right: 0;
    /* 背景渐变色 */
    background-image: linear-gradient(to right, #03ecf4, #09f4ae);
    overflow: hidden;
}

.footerb .footer-box .footer-box3 h3 {
    margin: 0 10px;
    text-align: center;
    line-height: 30px;
    border-bottom: 2px dotted rgb(0, 0, 0);
}

.footerb .footer-box .footer-box3 li {
    margin-top: 6px;
}

.footerb .footer-box .footer-box3 li:hover {
    background-color: #fa825e;
    transform: scale(1.08);
}

.footerb .footer-box .footer-box3 a {
    line-height: 30px;
    font-size: 17px;
    color: #000;
    margin-left: 10px;
}

.footerb .footer-box .footer-box3 a:hover {
    color: #54eb18;
}

/* 视频部分 */
.footerb .footer-box0 {
    width: 1200px;
    height: 600px;
    position: relative;
}

.footerb .footer-box0 .title {
    width: 644px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: "华文楷体";
    text-align: center;
    border: 3px solid black;
    background-color: #63dcf1;
}

.footerb .footer-box0 .footer-box0-video {
    width: 630px;
    height: 500px;
    overflow: hidden;
    position: relative;
    left: 10px;
    border-radius: 20px;
    background-color: #00b7ff;
}

.footerb .footer-box0 .footer-box0-video .footer-box0-video-pc {
    width: 370px;
    height: 470px;
}

.footerb .footer-box0 .footer-box0-video .footer-box0-video-pc video {
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.footerb .footer-box0 .footer-box0-video a {
    margin-left: 20px;
    line-height: 21px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.footerb .footer-box0 .footer-box0-video .footer-box0-video-android {
    width: 250px;
    height: 470px;
    position: absolute;
    top: -15px;
    right: 0;
}

.footerb .footer-box0 .footer-box0-video .footer-box0-video-android video {
    margin-left: 10px;
    margin-top: 25px;
}

.footerb .footer-box0 .footer-box0-right {
    width: 550px;
    height: 540px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0;
    background-color: #3bf2ff;
}

.footerb .footer-box0 .footer-box0-right h3 {
    margin: 10px auto;
}

.footerb .footer-box0 .footer-box0-right p {
    text-align: justify;
    margin: 0 10px;
    font-size: 16px;
    line-height: 30px;
    text-indent: 33px;
}

.footerb .footer-box0 .footer-box0-right img {
    width: 550px;
    height: 100px;
    margin-bottom: 0px;
}

/* ························································底部样式························································ */
.footer-bottom {
    background-color: rgb(63, 63, 63);
    width: 100%;
    height: 130px;
}

.footer-bottom .footer-bottom-mid {
    width: 1200px;
    height: 130px;
    margin: auto auto;
    overflow: hidden;
    box-sizing: border-box;
}

.footer-bottom .footer-bottom-mid p {
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    color: #9c9c9c;
}

.footer-bottom .footer-bottom-mid p a {
    text-decoration: none;
    margin-right: 8px;
    margin-left: 8px;
    color: #9c9c9c;
}

.footer-bottom .footer-bottom-mid p a:hover {
    color: #fff;
}