@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1685460437894') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qqdenglu:before {
  content: "\e64e";
}

.icon-weixindenglu:before {
  content: "\e64f";
}

.icon-denglu:before {
  content: "\e619";
}

